@model TurnsBackFront.Models.Physician

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h5>Physician</h5>
        <hr />
        <div class="row">
            <div class="col s12 m6">
                <div class="card hoverable indigo lighten-4">
                    <div class="card-content">
                        <span class="card-title"><h5><b>@Html.DisplayFor(model => model.Name) @Html.DisplayFor(model => model.Surname)</b></h5></span>
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Address):</b> @Html.DisplayFor(model => model.Address)</h6>
                        </dt>
                        <hr />
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Phone):</b> @Html.DisplayFor(model => model.Phone)</h6>
                        </dt>
                        <hr />
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.Email):</b> @Html.DisplayFor(model => model.Email)</h6>
                        </dt>
                        <hr />
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.OpeningHoursFrom):</b> @Html.DisplayFor(model => model.OpeningHoursFrom)</h6>
                        </dt>
                        <hr />
                        <dt>
                            <h6><b>@Html.DisplayNameFor(model => model.OpeningHoursTo):</b> @Html.DisplayFor(model => model.OpeningHoursTo)</h6>
                        </dt>
                    </div>
                    <div class="card-action indigo darken-4">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="PhysicianId" />
                            <a asp-action="Edit" asp-route-id="@Model.PhysicianId" class="waves-light btn-small green cccent-3">Edit</a>
                            <a asp-action="Index" class="right green-text text-accent-3">Return</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
