@model IEnumerable<TurnsBackFront.Models.Patient>

<p>
    <a asp-action="Create">Create</a>
</p>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PatientId">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>